HCTServices.xcodeproj/project.xcworkspace/contents.xcworkspacedata
HCTServices.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
HCTServices.xcodeproj/project.xcworkspace/xcuserdata/tunghoang.xcuserdatad/UserInterfaceState.xcuserstate
HCTServices.xcodeproj/xcshareddata/xcschemes/SimpleApplication.xcscheme
HCTServices.xcodeproj/xcuserdata/tunghoang.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
HCTServices.xcodeproj/xcuserdata/tunghoang.xcuserdatad/xcschemes/xcschememanagement.plist
